:root{
    --dt-padding: 12px;
    --dt-padding-sm: 6px;
    --dt-padding-xsm: 2px;
    --dt-border-color: #ddd;
    --dt-border-color-02: #ccc;
    --dt-cell-color: #fafafa;
    --dt-hover-color: #dadada;
    --dt-sorted-color: rgba(0,0,0,0.1);
    --dt-bg-color: #eee;
    --dt-bg-active-button: #eee;
    --dt-text-color-button: #222;
    --dt-text-color-active-button: #000;
}
.datatable-container{
    border: solid 1px var(--dt-border-color);
    width: 1350px;
    height: 550px;
    /* border:1px black solid; */
    /* margin:  ; */
    /* margin-left: 5px; */
    font-size: 1.5em;
}

.datatable-container .header-tools{
    border-bottom: solid 1px var(--dt-border-color);
    padding: var(--dt-padding);
    display: flex;
    align-items: baseline;
}
.datatable-container .header-tools .search{
    width: 30%;
}
.datatable-container .header-tools .search .search-input{
    width: 100%;
    display: block;
    box-sizing : border-box;
    border-radius: 3px;
    border: solid 1px var(--dt-border-color-02);
}
.datatable-container .header-tools .tools{
    width: 70%;
}
.datatable-container .header-tools .tools ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: start;
    align-items: baseline;
}
.datatable-container .header-tools .tools ul li{
    display: inline-block;
    margin: 0 var(--dt-padding-xsm);
    align-items: baseline;
}
.datatable-container .header-tools .tools ul li span input{
    vertical-align: middle;
}
.datatable-container .footer-tools{
    padding: var(--dt-padding);
    display: flex;
    align-items: baseline;
}
.datatable-container .footer-tools .list-items{
    width: 50%;
}
.datatable-container .footer-tools .pages{
    margin-left: auto;
    margin-right: 0;
    width: 50%;
}
.datatable-container .footer-tools .pages ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}
.datatable-container .footer-tools .pages ul li{
    display: inline-block;
    margin: 0 var(--dt-padding-xsm);
}
.datatable-container .footer-tools .pages ul li button,
.datatable-container .header-tools .tools ul li button{
    color: var(--dt-text-color-button);
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-radius: 3px;
    background: transparent;
    cursor: pointer;
}
.datatable-container .footer-tools .pages ul li button:hover,
.datatable-container .header-tools .tools ul li button:hover{
    background: var(--dt-bg-active-button);
    color: var(--dt-text-color-active-button);
}
.datatable-container .footer-tools .pages ul li span.active{
    background-color:  var(--dt-bg-color);
    border-radius: 3px;
}
.datatable-container .footer-tools .pages ul li button,
.datatable-container .footer-tools .pages ul li span,
.datatable-container .header-tools .tools ul li button{
    padding: var(--dt-padding-sm) var(--dt-padding);
}

.datatable-container .datatable{
    border-collapse: collapse;
    /*table-layout: fixed;*/
    width: 100%;
}

.tablaenc{
    border-bottom: 0px white solid ;
}
.datatable-container .datatable,
.datatable-container .datatable th,
.datatable-container .datatable td{
    padding: var(--dt-padding) var(--dt-padding);
}

.datatable-container .datatable th{
    font-weight: bolder;
    text-align: left;
    border-bottom: solid 1px var(--dt-border-color);
    cursor: pointer;
}
.datatable-container .datatable th:hover{
    background-color: var(--dt-hover-color);
}

.datatable-container .datatable td{
    border-bottom: solid 1px var(--dt-border-color);
}
.datatable-container .datatable  tr:nth-child(even){
    background-color: var(--dt-cell-color);
}
.datatable-container .datatable tr:hover{
    background-color: var(--dt-hover-color);
}
.datatable-container .datatable  tr .table-checkbox{
    width: 1px;
}

.datatable-container .datatable .cell-sorted{
    background-color: var(--dt-sorted-color);
}
.datatable-container .datatable .header-sorted{
    background-color: var(--dt-sorted-color);
}


/* tabla para ordenes pago */



.datatable-container-ord-pago{
    border: solid 2px var(--dt-border-color);
    width: 1050px;
    height: 450px;
    /* border:1px black solid; */
    /* margin:  ; */
    /* margin-left: 5px; */
    font-size: 1.2em;
}

.datatable-container-ord-pago .header-tools{
    border-bottom: solid 1px var(--dt-border-color);
    padding: var(--dt-padding);
    display: flex;
    align-items: baseline;
}


.datatable-container-ord-pago .datatable{
    border-collapse: collapse;
    /*table-layout: fixed;*/
    width: 100%;
}

.datatable-container-ord-pago .datatable,
.datatable-container-ord-pago .datatable th,
.datatable-container-ord-pago .datatable td{
    padding: var(--dt-padding) var(--dt-padding);
}

.datatable-container-ord-pago .datatable th{
    font-weight: bolder;
    text-align: left;
    border-bottom: solid 1px var(--dt-border-color);
    cursor: pointer;
}
.datatable-container-ord-pago .datatable th:hover{
    background-color: var(--dt-hover-color);
}

.datatable-container-ord-pago .datatable td{
    border-bottom: solid 1px var(--dt-border-color);
}
.datatable-container-ord-pago .datatable  tr:nth-child(even){
    background-color: var(--dt-cell-color);
}
.datatable-container-ord-pago .datatable tr:hover{
    background-color: var(--dt-hover-color);
}

/* tabla para ordenes pago detalle */


.datatable-container-ord-pago-detalle{
    border: solid 2px var(--dt-border-color);
    width: 550px;
    height: 300px;
    margin-left: 25px;
   
    font-size: 0.8em;
}

.datatable-container-ord-pago-detalle .header-tools{
    border-bottom: solid 1px var(--dt-border-color);
    padding: var(--dt-padding);
    display: flex;
    align-items: baseline;
}


.datatable-container-ord-pago-detalle .datatable{
    border-collapse: collapse;
    width: 100%;
}

.datatable-container-ord-pago-detalle .datatable,
.datatable-container-ord-pago-detalle .datatable th,
.datatable-container-ord-pago-detalle .datatable td{
    padding: var(--dt-padding) var(--dt-padding);
}

.datatable-container-ord-pago-detalle .datatable th{
    font-weight: bolder;
    text-align: left;
    border-bottom: solid 1px var(--dt-border-color);
    cursor: pointer;
}
.datatable-container-ord-pago-detalle .datatable th:hover{
    background-color: var(--dt-hover-color);
}

.datatable-container-ord-pago-detalle .datatable td{
    border-bottom: solid 1px var(--dt-border-color);
}
.datatable-container-ord-pago-detalle .datatable  tr:nth-child(even){
    background-color: var(--dt-cell-color);
}
.datatable-container-ord-pago-detalle .datatable tr:hover{
    background-color: var(--dt-hover-color);
}

/* tabla de remito */


.datatable-container-remito{
    border: solid 2px var(--dt-border-color);
    width: 720px;
    height: 300px;
   
    font-size: 0.8em;
}

.datatable-container-remito .header-tools{
    border-bottom: solid 1px var(--dt-border-color);
    padding: var(--dt-padding);
    display: flex;
    align-items: baseline;
}


.datatable-container-remito .datatable{
    border-collapse: collapse;
    width: 100%;
}

.datatable-container-remito .datatable,
.datatable-container-remito .datatable th,
.datatable-container-remito .datatable td{
    padding: var(--dt-padding) var(--dt-padding);
}

.datatable-container-remito .datatable th{
    font-weight: bolder;
    text-align: left;
    border-bottom: solid 1px var(--dt-border-color);
    cursor: pointer;
}
.datatable-container-remito .datatable th:hover{
    background-color: var(--dt-hover-color);
}

.datatable-container-remito .datatable td{
    border-bottom: solid 1px var(--dt-border-color);
    border-color: var(--dt-border-color);
}
.datatable-container-remito .datatable  tr:nth-child(even){
    background-color: var(--dt-cell-color);
}
.datatable-container-remito .datatable tr:hover{
    background-color: var(--dt-hover-color);
}
.link-boton {
    color: var(--dt-text-color-button);
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-radius: 3px;
    background: transparent;
    cursor: pointer; 
    padding: var(--dt-padding-sm) var(--dt-padding);
}
.link-boton a:hover{
    background: var(--dt-bg-active-button);
    color: var(--dt-text-color-active-button);
}
.link-boton a.active{
    background-color:  var(--dt-bg-color);
    border-radius: 3px;
}

/* tabla para ver los remitos */

.datatable-container-ver-remito{
    border: solid 2px var(--dt-border-color);
    width: 100%;
    height: 70%;
   
    font-size: 0.8em;
}

.datatable-container-ver-remito .header-tools{
    border-bottom: solid 1px var(--dt-border-color);
    padding: var(--dt-padding);
    display: flex;
    align-items: baseline;
}


.datatable-container-ver-remito .datatable{
    border-collapse: collapse;
    width: 96%;
}

.datatable-container-ver-remito .datatable,
.datatable-container-ver-remito .datatable th,
.datatable-container-ver-remito .datatable td{
    padding: var(--dt-padding) var(--dt-padding);
}

.datatable-container-ver-remito .datatable th{
    font-weight: bolder;
    text-align: left;
    border-bottom: solid 1px var(--dt-border-color);
    cursor: pointer;
}
.datatable-container-ver-remito .datatable th:hover{
    background-color: var(--dt-hover-color);
}

.datatable-container-ver-remito .datatable td{
    border-bottom: solid 1px var(--dt-border-color);
    border-color: var(--dt-border-color);
}
.datatable-container-ver-remito .datatable  tr:nth-child(even){
    background-color: var(--dt-cell-color);
}
.datatable-container-ver-remito .datatable tr:hover{
    background-color: var(--dt-hover-color);
}

/* tabla productos de un remito  martin*/

.datatable-container-remito-productos{
    border: solid 2px var(--dt-border-color);
    width: 100%;
    height: 80%;
   
    font-size: 0.8em;
}

.datatable-container-remito-productos .header-tools{
    border-bottom: solid 1px var(--dt-border-color);
    padding: var(--dt-padding);
    display: flex;
    align-items: baseline;
}


.datatable-container-remito-productos .datatable{
    border-collapse: collapse;
    width: 96%;
}

.datatable-container-remito-productos .datatable,
.datatable-container-remito-productos .datatable th,
.datatable-container-remito-productos .datatable td{
    padding: var(--dt-padding) var(--dt-padding);
}

.datatable-container-remito-productos .datatable th{
    font-weight: bolder;
    text-align: left;
    border-bottom: solid 1px var(--dt-border-color);
    cursor: pointer;
}
.datatable-container-remito-productos .datatable th:hover{
    background-color: var(--dt-hover-color);
}

.datatable-container-remito-productos .datatable td{
    border-bottom: solid 1px var(--dt-border-color);
    border-color: var(--dt-border-color);
}
.datatable-container-remito-productos .datatable  tr:nth-child(even){
    background-color: var(--dt-cell-color);
}
.datatable-container-remito-productos .datatable tr:hover{
    background-color: var(--dt-hover-color);
}

/* tabla para ordenes pago-abm */



.datatable-container-ord-pago-abm{
    border: solid 2px var(--dt-border-color);
    width: 1250px;
    height: 500px;
    /* border:1px black solid; */
    /* margin:  ; */
    /* margin-left: 5px; */
    font-size: 1.2em;
}

.datatable-container-ord-pago-abm .header-tools{
    border-bottom: solid 1px var(--dt-border-color);
    padding: var(--dt-padding);
    display: flex;
    align-items: baseline;
}


.datatable-container-ord-pago-abm .datatable{
    border-collapse: collapse;
    /*table-layout: fixed;*/
    width: 100%;
}

.datatable-container-ord-pago-abm .datatable,
.datatable-container-ord-pago-abm .datatable th,
.datatable-container-ord-pago-abm .datatable td{
    padding: var(--dt-padding) var(--dt-padding);
}

.datatable-container-ord-pago-abm .datatable th{
    font-weight: bolder;
    text-align: left;
    border-bottom: solid 1px var(--dt-border-color);
    cursor: pointer;
}
.datatable-container-ord-pago-abm .datatable th:hover{
    background-color: var(--dt-hover-color);
}

.datatable-container-ord-pago-abm .datatable td{
    border-bottom: solid 1px var(--dt-border-color);
}
.datatable-container-ord-pago-abm .datatable  tr:nth-child(even){
    background-color: var(--dt-cell-color);
}
.datatable-container-ord-pago-abm .datatable tr:hover{
    background-color: var(--dt-hover-color);
}
/*fin martin*/




/* tabla insumo ordencompra */







.datatable-container-insumo-ordencompra{
    border: solid 2px var(--dt-border-color);
    width: 780px;
    height: 450px;
    /* border:1px black solid; */
    /* margin:  ; */
    /* margin-left: 5px; */
    font-size: 1em;
}

.datatable-container-insumo-ordencompra .header-tools{
    border-bottom: solid 1px var(--dt-border-color);
    padding: var(--dt-padding);
    display: flex;
    align-items: baseline;
}


.datatable-container-insumo-ordencompra .datatable{
    border-collapse: collapse;
    /*table-layout: fixed;*/
    width: 100%;
}

.datatable-container-insumo-ordencompra .datatable,
.datatable-container-insumo-ordencompra .datatable th,
.datatable-container-insumo-ordencompra .datatable td{
    padding: var(--dt-padding) var(--dt-padding);
}

.datatable-container-insumo-ordencompra .datatable th{
    font-weight: bolder;
    text-align: left;
    border-bottom: solid 1px var(--dt-border-color);
    cursor: pointer;
}
.datatable-container-insumo-ordencompra .datatable th:hover{
    background-color: var(--dt-hover-color);
}

.datatable-container-insumo-ordencompra .datatable td{
    border-bottom: solid 1px var(--dt-border-color);
}
.datatable-container-insumo-ordencompra .datatable  tr:nth-child(even){
    background-color: var(--dt-cell-color);
}
.datatable-container-insumo-ordencompra .datatable tr:hover{
    background-color: var(--dt-hover-color);
}


/* tablita cantidad insumos orden compra */





.datatable-container-cantinsumo-movstock{
    border: solid 2px var(--dt-border-color);
    width: 600px;
    height: 400px;
    /* border:1px black solid; */
    /* margin:  ; */
    /* margin-left: 5px; */
    font-size: 1em;
}

.datatable-container-cantinsumo-movstock .header-tools{
    border-bottom: solid 1px var(--dt-border-color);
    padding: var(--dt-padding);
    display: flex;
    align-items: baseline;
}


.datatable-container-cantinsumo-movstock .datatable{
    border-collapse: collapse;
    /*table-layout: fixed;*/
    width: 100%;
}

.datatable-container-cantinsumo-movstock .datatable,
.datatable-container-cantinsumo-movstock .datatable th,
.datatable-container-cantinsumo-movstock .datatable td{
    padding: var(--dt-padding) var(--dt-padding);
}

.datatable-container-cantinsumo-movstock .datatable th{
    font-weight: bolder;
    text-align: left;
    border-bottom: solid 1px var(--dt-border-color);
    cursor: pointer;
}
.datatable-container-cantinsumo-movstock .datatable th:hover{
    background-color: var(--dt-hover-color);
}

.datatable-container-cantinsumo-movstock .datatable td{
    border-bottom: solid 1px var(--dt-border-color);
}
.datatable-container-cantinsumo-movstock .datatable  tr:nth-child(even){
    background-color: var(--dt-cell-color);
}
.datatable-container-cantinsumo-movstock .datatable tr:hover{
    background-color: var(--dt-hover-color);
}


/* tabla remitos para mov stock */



/* datatable-container-remito */

.datatable-container-remito{
    border: solid 2px var(--dt-border-color);
    width: 500px;
    height: 350px;
    margin-left: 50px;
    font-size: 1em;
}

.datatable-container-remito .header-tools{
    border-bottom: solid 1px var(--dt-border-color);
    padding: var(--dt-padding);
    display: flex;
    align-items: baseline;
}


.datatable-container-remito .datatable{
    border-collapse: collapse;
    width: 100%;
}

.datatable-container-remito .datatable,
.datatable-container-remito .datatable th,
.datatable-container-remito .datatable td{
    padding: var(--dt-padding) var(--dt-padding);
}

.datatable-container-remito .datatable th{
    font-weight: bolder;
    text-align: left;
    border-bottom: solid 1px var(--dt-border-color);
    cursor: pointer;
}
.datatable-container-remito .datatable th:hover{
    background-color: var(--dt-hover-color);
}

.datatable-container-remito .datatable td{
    border-bottom: solid 1px var(--dt-border-color);
}
.datatable-container-remito .datatable  tr:nth-child(even){
    background-color: var(--dt-cell-color);
}
.datatable-container-remito .datatable tr:hover{
    background-color: var(--dt-hover-color);
}



/* tabla comprobante minimizada en notas */

.datatable-container-compmin{
    /* border: solid 2px var(--dt-border-color); */
    width: 820px;
    height: 300px;
    padding-right: 50px;
   
    font-size: 1em;
}

.datatable-container-compmin .header-tools{
    border-bottom: solid 1px var(--dt-border-color);
    padding: var(--dt-padding);
    display: flex;
    align-items: baseline;
}


.datatable-container-compmin .datatable{
    border-collapse: collapse;
    width: 100%;
}

.datatable-container-compmin .datatable,
.datatable-container-compmin .datatable th,
.datatable-container-compmin .datatable td{
    padding: var(--dt-padding) var(--dt-padding);
}

.datatable-container-compmin .datatable th{
    font-weight: bolder;
    text-align: left;
    border-bottom: solid 1px var(--dt-border-color);
    cursor: pointer;
}
.datatable-container-compmin .datatable th:hover{
    background-color: var(--dt-hover-color);
}

.datatable-container-compmin .datatable td{
    border-bottom: solid 1px var(--dt-border-color);
    border-color: var(--dt-border-color);
}
.datatable-container-compmin .datatable  tr:nth-child(even){
    background-color: var(--dt-cell-color);
}
.datatable-container-compmin .datatable tr:hover{
    background-color: var(--dt-hover-color);
}


.tablacompmin{
    margin-right: 50px;

}

.link-boton {
    color: var(--dt-text-color-button);
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-radius: 3px;
    background: transparent;
    cursor: pointer; 
    padding: var(--dt-padding-sm) var(--dt-padding);
}
.link-boton a:hover{
    background: var(--dt-bg-active-button);
    color: var(--dt-text-color-active-button);
}
.link-boton a.active{
    background-color:  var(--dt-bg-color);
    border-radius: 3px;
}