*{
    box-sizing: border-box;
}
body{
    margin:0;
}

.tablita{
    background-color: blanchedalmond;
    width: 600px;
}
.contdetalle{
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    border:2px black solid;
}
.contselected{
    width: 320px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border:2px black solid;
}
.selecttxt{
    font-size: 1.8rem;
}