.cont_vent{
    background: #F8F8F8;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
	border-radius: 10px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 500px;
    /* opacity: 0; */
	
	/* transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0; */
}

.cont_vent_ordpagodetalle{
    width: 1050px;
	height: 500px;
}

.metpago{
	width: 150px;
	height: 50px;
}
.busqordpago{
	margin-left: auto;
	margin-right: auto;
	/* border: 2px red solid; */
	/* width: 800px; */
}
.inputventmonto{
width: 50px;
}

.texto_inputventmonto{
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}
.txtventmonto{
	font-size:1rem;
}
.btnconfordpago{
	/* margin-top: 100px; */
	width: 400px;
	height: 40px;
}
.labeldesc{
	margin-left: 100px;
	/* border: 2px black solid; */
}
.desc_btnconf{
	height: 100px;
	/* border: 2px black solid; */
	width: 1200px;
	display: flex;
	margin: 0 auto;


}

.centro{
	margin-left: auto;
	margin-right: auto;
}

.apdf{
	visibility: hidden;
}
.buscador{
	width: 700px;
	/* border: 2px black solid; */

}